:root{
    --nav-bar:#000000;
    --about:#3E065F;
    --projects:white;
    --footer:#8E05C2;
    --hover:gray;
    --border-color:white;
    --fonts:white;
    --section-titles-background:#000000;
    --articles-background:white;
    --text-shadow:0px 3px 3px rgba(255,255,255,0.5);
    --box-shadow-welcome:0px 15px 11px -6px rgba(0,0,0,0.75);
    --articles-boxes-shadow:rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
    --box-shadow-contact:0px -15px 11px -8px rgba(0,0,0,0.75);
}   

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto Mono', monospace;   
}

a{text-decoration: none;
    color: var(--fonts);   
}


/*navbar*/
#navbar{
    background: var(--nav-bar);
    display: flex;
    padding: 2px;
    justify-content: flex-end;
    padding: 5px;
    position: fixed;
    width: 100%;
    
}


.navbar-items{
    background-color: var(--hover);
    padding: 5px;
    margin: 0 10px;
    border: solid;
    text-align: center;
    
    
}

@media screen and (max-width:700px) {
    #navbar{ flex-direction: column; position: relative;}
    .navbar-items{margin: 3px ;}  
}



/*about*/
#welcome-section{
    background-image: url(https://i.redd.it/wf5sq7kh24051.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    box-shadow: var(--box-shadow-welcome);
    margin-bottom: 30px;
     
}

h1{
    text-align: center;
    margin:  50px auto;
    font-size: 3rem;
    text-shadow:var(--text-shadow) ;
    color: var(--fonts);
    
    
}

#description{
    text-align: center;
    margin: 0 auto;
    color: var(--fonts);
    max-width: 800px;
    padding: 10px;
    font-size: 1.5rem;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}


/*projects*/

#projects{
    background: var(--projects);
    display: flex;
    flex-direction: column;
    
}

#articles-container{
    display: flex;
    flex-wrap: wrap;      
}

h2{
    color: black;
    margin: 10px auto;
    padding: 3px;
    border-bottom: solid;
    
    
}

.articles{
    max-width: 350px;
    max-height: 350px;
    margin: 20px auto;
    background-color: var(--articles-background);
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: var(--articles-boxes-shadow);
}

.articles-img{
    max-width: 280px;
    max-height: 280px;
    padding: 5px;
}

h3{
    margin:10px;
    padding: 5px;
    text-decoration: underline;
    color: black;
}

/*contact*/

#footer{
   background-color: rgb(223, 223, 223);
    border-top: solid;
    margin-top: 30px;
    box-shadow: var(--box-shadow-contact);
}

.contact-content{
    display: flex;
    flex-wrap: wrap;
}

.contact-img{
    max-width: 30px;
    max-height: 30px;
}

.contact-a{
    margin: 8px auto;
    color: black;

}



